DE_TAG=v2.10.21
DE_PORT=8100
DE_BASE=./data
DE_MYSQL_HOST=mysql-de
DE_MYSQL_PORT=3306
DE_MYSQL_DB=dataease
DE_MYSQL_USER=root
DE_MYSQL_PASSWORD=DataEase@2024
DE_MYSQL_PARAMS=autoReconnect=false&useUnicode=true&characterEncoding=UTF-8&characterSetResults=UTF-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
DE_CONTEXT_PATH=
DE_LOGIN_TIMEOUT=960
DE_INSTALL_MODE=community
DE_EXPORT_VIEWS_LIMIT=100000
DE_EXPORT_DATASET_LIMIT=100000
DE_ORIGIN_LIST=http://localhost:8100
DE_SERVERS=dataease
DE_APISIX_KEY=lingshan2024apisixkey
DE_APISIX_PORT=9080
DE_APISIX_DASHBOARD_PORT=9000
DE_PLAYWRIGHT_SERVER=http://de-playwright-api:3000/screenshot
DE_EXTERNAL_PLAYWRIGHT=true
